* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    background-color: #D3D3D3;
  }
  /* style the header*/
  .header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #848884;
    color: #FFF7EC;
    position: fixed;
    height: 80px;
    width: 100%;
  }

  /* style the links on the nav bar so that they are non bulletted and in line with the header */
  ul {
    list-style-type: none;
    margin: 0%;
    padding:0%;
    height: 100%;
  }

  li {
    display: inline;
    float: right;
  }
  
  /* Remove underline on links*/
  a{
    text-decoration: none;
    font-size: 20px;
    display: block;
    padding: 8px
  }
  /* change the color of links when a user hovers over them */
  li a:hover{
    color:white
  }

  /* change the color of links to show which ones have been accessed already*/
  .active{
    color: darkslateblue;
  }
  
  .hero-banner {
    display: flex;
    background-image: url(../assets/images/background-image-5.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 200px;
  }

  .subtitle {
    padding: 15px;
    margin: 0%;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }

  .flex {
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .flex-item {
    display: flex;
    align-items: flex-end;
    flex-basis: calc(50% - 1em);
  }

  .flex-item:first-child {
    min-height: 300px;
    flex-basis: 100%;
    margin: 10px;
  }

  .flex-item div {
    background-color: #848884;
    padding: 10px;
    margin: .5em;
    min-height: 150px;
  }

  @media screen and (max-width: 768px) {
    .flex-item {
      flex-basis: 100%;
    }
    .flex-item:first-child {
      min-height: 150px;
    }
  }

  .project1 {
    background-image: url('../assets/images/coding-3.gif');
    background-repeat: no-repeat;
    background-size: 100%;

  }
  .project2 {
    background-image: url('../assets/images/7D7o.gif');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:center;
  }
  .project3 {
    background-image: url('../assets/images/computer-image.gif');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:center;
  }
  .project4 {
    background-image: url('../assets/images/screens-and-coding-image.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:center;
  }
  .project5 {
    background-image: url('../assets/images/daily-planning-image.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:center;
  }